<footer class="py-30">
    <div class="flex justify-between custom-navbar-red py-14">
        <div class="flex-1 text-center"><app-addres-card Title="Robert Food" SubTitle="1986 Hilltop DriveBorger, TX 79007"></app-addres-card></div>
        <div class="flex-1 text-center"><app-addres-card Title="Mark A. Reed Food" SubTitle="4877 Rose AvenuewNew Orleans, LA 70112"></app-addres-card></div>
        <div class="flex-1 text-center"><app-addres-card Title="Karie K. Hill Food" SubTitle="1509 Peaceful LaneCleveland, OH 44115"></app-addres-card></div>
    </div>
    <div class="flex justify-center py-10 custom-blue-footer text-white">Copyright © 2024 | RestroManagerCompany</div>
</footer>
