<div class="container mx-auto">
    <div class="text-white text-2xl font-bold">{{Title}}</div>
    <div class="text-white text-xl font-semibold">{{SubTitle}}</div>
    <div class="flex flex-row ">
        <div class="flex items-center justify-center basis-1/2"><app-contact-info iconClasses="fa-solid fa-clock" text="7:30 AM - 5:00 PM"></app-contact-info></div>
        <div class="flex items-center justify-center basis-1/2"><app-contact-info iconClasses="fa-solid fa-phone" text="+ 57 300 768 55 27"></app-contact-info></div>
    </div>
    <div class="text-lime-400 text-2xl"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click to View Google Map</a></div>
</div>