<section>
    <div class="flex flex-cols items-center justify-center mx-auto md:h-screen lg:py-0">
        <form [formGroup]="resetPassForm" class="max-w-md mx-auto" (submit)="changePassword()">
            <div class="relative z-0 w-full mb-5 group">
                <label for="emailC" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tu correo</label>
                <input type="email" name="emailC" id="emailC" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ejemplo@restromanager.com" required="">
                <p *ngIf="resetPassForm.get('email')?.touched && resetPassForm.get('email')?.invalid" class="mt-2 text-sm text-red-600 dark:text-red-500"> El correo no cumple con lo requerido</p>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="passwordC" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                <input type="password" name="passwordC" id="passwordC" formControlName="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="" (change)="passChange()">
                <p *ngIf="resetPassForm.get('password')?.touched && resetPassForm.get('password')?.invalid" class="mt-2 text-sm text-red-600 dark:text-red-500">La contraseña es obligatoria</p>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="passwordConfirm" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirme su contraseña</label>
                <input type="password" name="passwordConfirm" id="passwordConfirm" formControlName="passwordConfirm" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="" (change)="passChange()">
                <p *ngIf="resetPassForm.get('passwordConfirm')?.touched && !equalPass" class="mt-2 text-sm text-red-600 dark:text-red-500">Las contraseñas deben coincidir</p>
            </div>
            <div class="flex justify-center mt-5">
                <button type="submit" [disabled]="!resetPassForm.valid" class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-700">
                    Actualizar contraseña
                </button>
            </div>
        </form>
    </div>
</section>