<ng-template [ngIf]="loading" [ngIfElse]="loaded">
    <app-loading></app-loading>
</ng-template>
<ng-template #loaded>
    <form [formGroup]="editModelForm" (submit)="saveModel()" class="max-w-sm mx-auto">
        <div class="mb-5">
            <label for="nameRawMaterial" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
            <input id="nameRawMaterial" formControlName="nameRawMaterial" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required/>
        </div>
        <div class="mb-5">
            <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad</label>
            <input id="amount" formControlName="amount" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required/>
        </div>
        <div class="mb-5">
            <label for="unitsId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unidades</label>
            <ng-multiselect-dropdown formControlName="unitsId"
                [placeholder]="'Unidades'"
                [settings]="settingsUnits"
                [data]="units"
            >
            </ng-multiselect-dropdown>
        </div>
        <div class="mb-5">
            <label for="unitCost" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Costo de la unidad</label>
            <input id="unitCost"  formControlName="unitCost" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required/>
        </div>
        <div class="inline-flex rounded-md shadow-sm"  role="group">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>
            <span style="margin: 3px;"></span>
            <button (click)="back()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Retroceder</button>
        </div>
    </form>
</ng-template>