<ng-template [ngIf]="loading" [ngIfElse]="loaded">
    <app-loading></app-loading>
</ng-template>
<ng-template #loaded>
<form [formGroup]="editModelForm" (submit)="saveModel()" class="max-w-sm mx-auto">
    <div class="flex justify-center items-center flex-col mb-6">
        <img *ngIf="recipe.photo || imageBase64" class="w-24 h-24 mb-3 rounded-full shadow-lg" [src]="(imageBase64)?'data:image/jpeg;base64,'+imageBase64:recipe.photo"/>
    </div>
    <div class="mb-5">
        <label for="nameE" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
        <input id="nameE" formControlName="nameE"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
            required />
    </div>
    <div class="mb-5">
        <label for="category.id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categorías</label>
        <ng-multiselect-dropdown formControlName="categoriesE"
            [placeholder]="'Categorías'"
            [settings]="settingsCategories"
            [data]="categories"
        >
        </ng-multiselect-dropdown>
    </div>
    <div class="mb-5">
        <label for="productionCostE" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Costo de producción</label>
        <input id="productionCostE" formControlName="productionCostE"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
            required />
    </div>
    <div class="mb-5">
        <label for="priceE" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio</label>
        <input id="priceE" formControlName="priceE"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
            required />
    </div>
    <div class="mb-5">
        <label for="descriptionE" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
        <textarea id="descriptionE" formControlName="descriptionE"  rows="4" class="w-full p-2 border border-gray-300 rounded-md mb-4" placeholder="Observaciones"></textarea>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="photo">Subir fotografía</label>
        <input formControlName="photoE" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="photo" type="file" accept="image/jpeg, image/png, image/gif" (change)="onFileSelected($event)">
    </div>
    <div class="flex justify-center items-center rounded-md shadow-sm" role="group">
        <button type="submit"
            class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Guardar</button>
    </div>
</form>
</ng-template>